h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0f0;
  }
  .texto{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0f0;
  }
  
  button {
    background-color: transparent;
    color: #0f0;
    border: 1px solid #0f0;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0f0; /* Verde lima muito claro */
    color: #006400; /* Verde escuro */
  }
  
  .container {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../../../assets/images/pipboy.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center; /* Alinha os elementos filhos (os botões) ao centro */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Torna o contêiner um flex container */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    
  }
  
  input[type="number"] {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #0f0;
    border-radius: 5px;
    width: 200px;
    background-color: transparent;
    color:#0f0 ;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
  }


  .botao-voltar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #0f0;
    border-color : #0f0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .botao-voltar:hover {
    background-color: #0f0; /* Verde lima muito claro */
    color: #006400; /* Verde escuro */
  }
  .result-container {
    background-color: rgba(0, 255, 0, 0.1); /* Cor de fundo verde com transparência */
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px; /* Espaçamento entre os resultados e outros elementos acima */
    margin-bottom: 20px; /* Espaçamento entre os resultados e outros elementos abaixo */
    max-width: 80%; /* Defina uma largura máxima para evitar que o contêiner se estenda demais */
    width: auto; /* Permita que o contêiner se ajuste ao conteúdo */
    text-align: center; /* Centralize o conteúdo */
    z-index: 1; /* Garanta que o contêiner de resultados esteja na frente do fundo */
}