<div class="container">
    <h1>Calculadora de força de aceleração</h1>
    
      <label class="texto" for="parametroA">Digite a massa:</label>
      <input type="number" id="parametroA" [(ngModel)]="massa" inputmode="numeric" required>
    
      <label class="texto" for="parametroB">Digite a aceleração:</label>
      <input type="number" id="parametroB" [(ngModel)]="acceleracao" inputmode="numeric" required>
    
    
      <button (click)="calcular()">Calcular</button>
    
    <div *ngIf="resultado !== undefined">
      <h2 class="texto">Resultados:</h2>
      <p class="texto">{{ resultado }}</p>
    </div>
    <button (click)="voltar()" class="botao-voltar">Voltar</button>
    </div>