<div class="container">

<h1>MathUtils: Calculadora avançada</h1>
<div class="botoes">
    <button (click)="irParaEquacaoSegundoGrau()">Equação de Segundo Grau</button>
    <button (click)="irParaIntegral()">Integral</button>
    <button (click)="irParaDerivada()">Derivada</button>
    <button (click)="irParaErlang()">erlangC</button>
    <button (click)="irParaaceleracao()">Força de aceleração</button>
    <button (click)="irParalancamento()">Lançamento Horizontal</button>
</div>
</div>


